[submodule "pugixml"]
	path = pugixml
	url = https://gitee.com/beforeligeht/pugixml.git
[submodule "cmdline"]
	path = cmdline
	url = https://gitee.com/beforeligeht/cmdline.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://gitee.com/beforeligeht/tinyxml2.git
[submodule "NanoLog"]
	path = NanoLog
	url = https://gitee.com/beforeligeht/NanoLog.git
[submodule "CJsonObject"]
	path = CJsonObject
	url = https://gitee.com/Bwar/CJsonObject.git
