[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "cmdline"]
	path = cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "NanoLog"]
	path = NanoLog
	url = https://github.com/Iyengar111/NanoLog.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
